body{
	 background-color: #f1f1f1;
}
hr{
	width: 600px;
	margin: 30px auto 0;
}

/*-------------gusto---------------*/
#gusto{
	 background-color: #e1e1e1;
}
#GB{
	width: 600px;
	height: 75px;
	margin: 0 auto;
	background-color: #53545e;
	padding: 30px 30px 0 30px;
}
#GBL{
	float: left;
}
#GBLh2{
	display: inline;
	font-size: 30px;
	padding-top: 12px;
}
#gus,#having{
	color: white;
}
#to, #viev{
	color: #a6a7b0;
}
#GBR{
	float: right;
	padding-top: 12px;
	font-size: 12px;
}
/*--------------content-------------------*/
#content{	/*обьеденить GB content*/
	width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 30px 30px 0 30px;
}
/*Leager*/
#Leager{

}
.Lh3{
	color: #53545e;
}
.Lp{
	color: #bfc0c3;
	padding-right: 20px;
}
.detail{
	width: 80px;
	height: 36px;
	color: white;
	background:  #53545e;
}
#LImg{
	width: 100%;
}
/*items*/
#items{
	padding: 30px 0 0 0;
	min-height: 290px;
}

#leftItem{
	width: 270px;
	float: left;
}
#rightItem{
	width: 270px;
	float: right;
}
#RItemImg, #RIh3, #RIp, #RIinput{
	margin-left: 15px;
}
/*AdSpace*/
#AdSpace{
	padding: 30px 0 0 0;
}
#AdSpaceleft{
	float: left;
}
#AdSpacecenter{
	margin-left: 60px;
}
#AdSpaceright{
	float: right;
}
/*BlogPost*/
#BlogPost{
}
#invis{
	opacity: 0;
}
/*StayCoonnected*/
#StayCoonnected{
	background-color: #e1e1e1;
}

#SC{
	width: 600px;
	margin: 0 auto;
	background-color: #f1f1f1;
	min-height: 75px;
	padding: 15px 30px 0 30px;
}
#SCleft{
	float: left;
}
#SCright{
	float: right;
}
.listTeg{
	  display: inline-block;
}
#SomeText{
	width: 600px;
	margin: 0 auto;
	min-height: 100px;
}
#STleft{
	width: 60%;
	float: left;
	color: white;
}
#STright{
	float: right;
	color: white
}
#whiteColor{
	color: white;
}
#FT{
	width: 600px;
	margin: 0 auto;
	min-height: 50px;
}
#leftText{
	float:left;
	font-size: 12px;
}
#rightText{
	float:right;
	font-size: 12px;
}



