<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script data-main="js/app" src="js/require.js"></script>
</head>
<body>
	<script type="text/template" id="wrapper_template">
		<div class="wrapper">
			<ul class="item"></ul>
			<div class="controlls">
				<input type="text" class="item__value">
				<button class="item__add">Add</button>
				<div class = "hint">Enter the string for editing</div>
			</div>
		</div>
	</script>
	<script type="text/template" id = "list_template">
		<% for (var i = 0; i < data.length; i++) { %>
			<li class="item__list">
				<span class = "text"><%= data[i] %></span>
				<img src="img/delete2.png" data-value="<%= data[i] %>"  alt="Cancel" class="item__img img--delete">
				<img src="img/edit2.png" data-value="<%= data[i] %>" alt="Cancel" class="item__img img--edit">
			</li>
		<% } %>
	</script>
</body>
</html>