*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Amble';
}
html, body{
	height: 100%;
}

body{
	background-color:#074e8c;
}
.container{
	background-image: url(../img/bg.jpg);
	background-size: 100% 1000px;
	background-repeat: no-repeat;
	height: 1000px;
	min-width: 700px;
}

/*TOP MENU*/
	.top_line{
		height: 40px;
		font-size: 14px;
		background-image: url(../img/Background.png);
	}
	.top_line ul{
		min-width: 800px;
		height: 100%;
		padding-right: 20px;
		max-width: 1200px;
		margin: 0 auto;
	}
	.top_line li{
		float: right;
		height: 100%;
		padding: 0 15px;
	}
	/*links*/
		.top_line a{
			padding-top: 10px;
			display: inline-block;
		}
		.top_line a {
			height: 100%;
			color: #60b5ed;
		}
		.active_li{
			-webkit-transition: background 0.6s ease;	
		}
		.active_li:hover{
			background-color:#4eabda;	
			color: white;
		}
		.active_li a:hover{
			color: white;
		}
		.decoration{
			text-decoration: underline;
			color: white !important;
			font-size: 13px;
		}
	/*paragrafs*/
		.top_line p {
			color: white;
		}
		.Line{
			font-size: 26px;
			font-weight: 100;
			color: #60b5ed;
			margin-top: 1px;
		}
	/*picture*/
		.top_line img{
			float: left;
			margin-top: 3px;
		}
/*MAIN*/
	.main{
		width: 560px;
		margin: 0 auto 0;
		margin-top: 11%;
	}
	/*TOP LINE MAIN*/
		.topLine_main{
			height: 60px;
			background-color: rgba(0,0,0,0.5);
		}

		.topLine_main h1{
			padding-top: 15px;
			color: white;
			font-size: 24px;
			text-align: center;
		}
	/*BODY LINE MAIN*/	
		.bodyLine_main{
			height: 550px;
			margin-top: 3px;
			background-color: rgba(0,0,0,0.5);
			
		}
		.bodyLine_main section{
			width: 50%;
			padding: 0 25%;
		}
		.bodyLine_main{
			
		}
		.bodyLine_main a{
			display: inline-block;
			width: 100%;
			height: 35px;
			background-color:#385191;
			color: white;
			border-radius: 5px;
		}
		/*FACEBOOK LINK*/
			.facebook_link{
				margin-top: 15%;
			}
			.facebook_link span:nth-child(1){
				float: left;
				padding-top: 3px;
				text-align: center;
				display: inline-block;
				font-size: 24px;
				width: 14%;
				height: 30px;
				border-right: 1px solid #1f3c76;
			}
			.facebook_link span:nth-child(2){
				padding-top: 7px;
				float: left;
				margin-left: 1px;
				width: 75%;
				height: 30px;
				text-align: center;
			}
			.facebook_link span:nth-child(3){
				padding-top: 3px;
				float: left;
			}
		/*OU*/
			/*
			.ou hr{
				float: left;
				width: 44%;
				margin-top: 7px;
				height: 1px;
				border: none;
				border-bottom: 1px solid black;
				background: #666666;
			}
			.ou p{
				float: left;
				padding: 0 5px;
				color:#999999;
			}*/
			.ou{
				margin-top: 30px;
				position:relative;
				text-align: center;
			}
			.ou:after {
				width: 123px;
				content:"";
			 	position: absolute; 
			 	top: 7px;
			 	left: 0px;
			 	border-bottom: 1px solid black;
			 	border-top: 1px solid #666666;
			 }
			.ou:before{
				width: 123px;
				content:"";
			 	position: absolute; 
			 	top: 7px;
			 	left:157px;
			 	border-bottom: 1px solid black;
			 	border-top: 1px solid #666666;
			 }
		/*FORM*/
			.edit{
				width: 260px;
				height: 30px;
				margin-top: 20px;
				background-color: #0f0e0e;
				border: none;
				border-bottom: 1px solid #494846;
				color: white;
				padding-left: 17px;
				-webkit-transition: background 0.5s ease;
			}
			.edit:hover{
				background-color:#1b5288;
				box-shadow: 0 0 20px 5px #4680ab;
				cursor: pointer;
			}
			.main_form div {
				margin-top: 20px;
			}
			.main_form label{
				font-size: 14px;
				color: white;
			}
			.main_form button{
				background-color:#4aa5d7;
				border: none;
				color: white;
				width: 150px;
				height: 35px;
				border-radius: 5px;
				font-size: 15px;
				margin-left: 25%;
				margin-top: 20px;
			}
			.bodyLine_main footer{
				color: white;
				font-size: 14px;
				text-align: center;
				margin-top: 20px;
			}