/*header*/
	.header{
		width: 100%;
		height: 700px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/vso.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/vso.jpg', sizingMethod='scale')";
	}
	.wrapper{
		width: 960px;
		height: 700px;
		margin: 0 auto;
	}
	.log{
		float: right;
		width: 250px;
		height: 100px;
		margin-top: 40px;
	}
	.log__label{
		font-weight: 900;
	}
	.log__input{
		height: 35px;
		background: none;
		border: 2px solid white;
	}
	.urlaub{
		float: left;
		margin-top: 55px;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.dreams{
		width: 500px;
		margin: 0 auto;
		clear: both;
		padding: 80px 90px 0 0;
	}
	.dreams__holliday{
		text-align: center;
		font-size: 52px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.dreams__parther{
		font-size: 24px;
		font-weight: 300;
		margin: 30px 0 40px 60px;
	}
	.button{
		margin-left: 320px;
		text-align: center;
		text-decoration: none;
		padding: 10px 30px;
		background-color: #ff4e50;
	}	
/*main*/
	.main{
		width: 100%;
	}
	/*work*/
		.work{
			width: 960px;
			margin: 0 auto;
		}
		.work__title{
			margin: 100px 0 50px;
		}
		.title{
			text-align: center;
			color: #333;
			font-size: 22px;
			font-weight: 700;
			letter-spacing: 1px;
		}
		.content{
			width: 250px;
			position: absolute;
			top: 225px;
			left: 20px;
			z-index: 1;
		}
		.button--small{
			padding: 3px 13px;
			border: none;
		}
		.content__title{
			margin-top: 15px;
			font-size: 24px;
			font-weight: 700;
		}
		.content__text{
			margin-top: 15px;
			font-size: 14px;
			font-weight: 300;
			color: #ccc;
		}
		.item{
			width: 300px;
			height: 400px;
			float: left;
			overflow: hidden;
			margin-left: 20px;
			position: relative;
		}
		.step{
			overflow: hidden;
		}
		.buground--first{
			margin: 0px 0 0 -180px;
			width: 210% !important;
		}
		.buground--second{
			margin: 0px 0 0 -180px;
			width: 210% !important;
		}
		.buground--third{
			margin: 0px 0 0 -180px;
			width: 210% !important;
		}
		.owl-prev{
			position: absolute;
			top: 160px;
			left: 20px;
			z-index: 1;
			width: 30px;
			height: 55px;
			background-image: url(../img/arrow.png);
		}
		.owl-next{
			position: absolute;
			top: 160px;
			left: 240px;
			z-index: 1;
			width: 30px;
			height: 55px;
			background-image: url(../img/arrow2.png);
		}
	/*partners*/
		.partners{
			clear: both;
			width: 960px;
			margin: 0 auto;
		}
		.partners__title{
			clear: both;
			padding: 100px 0 35px;
		}
		.humans__item{
			width: 220px;
			float:left;
			margin-left: 20px;
		}
		.figure{
			position: relative;
		}
		.surcle--big{
			margin-left: 50px;
		}
		.surcle--small{
			width: 20px;
			height: 20px;
			padding: 5px;
			background-color:#ff4e50;
			position: absolute;
			top: 105px;
			left: 155px;
			z-index: 1;
		}
		.info__name{
			margin-top: 23px;
			text-align: center;
			color: #333;
			font-size: 14px;
			font-weight: 700;
		}
		.info__hobby{
			margin-top: 17px;
			text-align: center;
			color: #666;
			font-size: 14px;
			font-weight: 300;
		}
