@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }

* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 320px) {
  .container {
    min-height: calc(100vh - 190px); }
  .montserrat-regular {
    font-family: Montserrat-Regular;
    color: white;
    text-align: center; }
  .roboto-light {
    font-family: Roboto-Light;
    color: white;
    text-align: center; }
  .header {
    height: 540px;
    background-image: url(../img/vso.jpg);
    background-position: -422px -10px; }
    .header__log {
      padding: 22px 0 0 38px;
      margin: 0 auto; }
    .header__title {
      margin-top: 115px; }
    .header__find {
      margin: 13px auto;
      padding: 0 0 0 10px; }
  .log {
    width: 200px; }
    .log__label {
      font-size: 14px;
      font-weight: 700;
      line-height: 0px;
      margin-left: 12px; }
    .log__input {
      width: 75px;
      text-align: center;
      background: none;
      border: 3px solid white;
      border-radius: 25px;
      padding: 5px;
      font-weight: 700;
      font-size: 14px;
      margin-left: 15px; }
    .log__input::-webkit-input-placeholder {
      color: white; }
    .log__input::-moz-placeholder {
      color: white; }
    .log__input:-moz-placeholder {
      color: white; }
    .log__input:-ms-input-placeholder {
      color: white; }
    .log__input:focus {
      outline: none; }
  .title {
    font-weight: 700; }
    .title__urla {
      font-size: 20px;
      text-transform: uppercase; }
    .title__holliday {
      font-size: 30px;
      text-transform: uppercase;
      margin-top: 27px;
      padding-left: 15px; }
    .title__parther {
      padding: 0 35px;
      font-size: 18px;
      font-weight: 300;
      margin-top: 7px; }
  .find {
    width: 280px; }
    .find__button {
      width: 280px;
      border: none;
      border-radius: 25px;
      background-color: #ff4e50;
      padding: 12px 0;
      cursor: pointer; }
    .find__button:focus {
      outline: none; }
  .main {
    width: 95%;
    margin: 0 auto; }
  .work__title {
    color: #333333;
    font-size: 21px;
    margin-top: 35px; }
  .work__list {
    width: 295px;
    margin: 16px auto; }
    .work__list .item {
      margin-bottom: 10px; }
  .owl-controls {
    display: none; }
  .step {
    width: 295px;
    height: 240px;
    border-radius: 5px;
    z-index: 0;
    position: relative;
    overflow: hidden; }
    .step__buground {
      z-index: 1; }
    .step__content {
      position: absolute; }
  .content {
    top: 68px;
    padding: 0 0 0 20px; }
    .content__form {
      margin-left: 3px; }
    .content__title {
      margin: 15px 0 0;
      font-size: 24px;
      text-align: left; }
    .content__text {
      margin: 10px 0 0;
      font-size: 14px;
      text-align: left;
      opacity: 0.5;
      line-height: 17px; }
  .content--nonstandard {
    top: 98px; }
  .buground--first {
    width: 140% !important;
    margin: -27px 0 0 -65px; }
  .buground--second {
    width: 140% !important;
    margin: -22px 0 0 -35px; }
  .buground--third {
    width: 150% !important;
    margin: -32px 0 0 -71px; }
  .button {
    width: 70px;
    height: 20px;
    background-color: #ff4e50;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    border-radius: 20px;
    letter-spacing: 2px;
    cursor: pointer; }
  .button:focus {
    outline: none; }
  .parthers__title {
    color: #333333;
    font-size: 22px;
    margin: 35px 0 0 5px; }
  .parthers__list {
    margin-top: 13px;
    list-style: none; }
    .parthers__list .item:nth-child(1) {
      padding: 0 0 28px; }
    .parthers__list .item:nth-child(2) {
      padding: 0 0 25px; }
    .parthers__list .item:nth-child(3) {
      padding: 0 0 28px; }
  .parthers__other {
    width: 280px;
    padding: 0 0 0 8px;
    margin: 28px auto 0; }
  .figure {
    position: relative;
    width: 200px;
    margin: 0 auto; }
  .surcle {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block; }
  .surcle--big {
    margin-left: 23%;
    width: 120px;
    height: 120px; }
  .surcle--small {
    position: absolute;
    left: 130px;
    top: 85px;
    width: 30px;
    height: 30px;
    border: 4px solid white;
    background-color: #ff4e50; }
  .img--logo {
    margin: 6px 6px; }
  .info {
    margin: 13px 0 0 12px; }
    .info__name {
      color: #333333;
      font-size: 14px; }
    .info__hobby {
      margin-top: 10px;
      color: #666;
      font-size: 13px; }
  .other__button {
    width: 280px;
    height: 38px;
    background: none;
    border: 2px solid #ff4e50;
    border-radius: 25px;
    color: #ff4e50;
    cursor: pointer; }
  .other__button:focus {
    outline: none; }
  .ideas {
    width: 295px;
    margin: 0 auto; }
    .ideas__title {
      color: #333333;
      font-size: 22px;
      margin: 35px 0 0 7px; }
    .ideas__list {
      margin-top: 10px; }
      .ideas__list .list__item {
        margin-bottom: 10px; }
      .ideas__list .list__item:nth-child(1) > .idea > .idea__baground {
        margin: -50px 0 0 -5px; }
      .ideas__list .list__item:nth-child(1) > .idea > .idea__caption {
        left: 16.2%; }
      .ideas__list .list__item:nth-child(2) > .idea > .idea__baground {
        margin: -140px 0 0; }
      .ideas__list .list__item:nth-child(2) > .idea > .idea__caption {
        left: 15%; }
  .idea {
    width: 295px;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
    position: relative; }
    .idea__caption {
      position: absolute;
      top: 40%;
      font-size: 22px; }
  .footer {
    height: 190px;
    background: gray; } }
