* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #F8F8FF; }

.form {
  position: absolute;
  top: 50%;
  left: 50%; }

.button {
  padding: 8px 25px;
  background-color: #9bb0d5;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  border-bottom: 2px solid #758ab2; }

.button--invisibility {
  background: none;
  border: none;
  color: gray;
  margin-right: 10px; }
  .button--invisibility:hover {
    background: #eeeff5;
    border-bottom: 2px solid #e3e4e8; }
  .button--invisibility:active {
    background-color: #9bb0d5;
    border-bottom: 2px solid #758ab2; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #bcbcbc; }

.modalWindow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; }
  .modalWindow__header {
    margin: 65px auto 0;
    width: 710px;
    padding: 20px 0;
    text-align: center;
    color: #7f92b7;
    background-color: #eeeff5;
    font-family: Arial;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 5px solid #e3e4e8;
    border-radius: 3px 3px 0 0; }
  .modalWindow__container {
    margin: 0 auto;
    width: 660px;
    background: white;
    padding: 25px 25px 0 25px; }
    .modalWindow__container .left {
      width: 49.5%;
      border: 1px solid #d5d5d5;
      height: 365px;
      float: left; }
      .modalWindow__container .left__searche {
        border-bottom: 1px solid #d5d5d5;
        height: 35px; }
        .modalWindow__container .left__searche .text {
          border: none;
          height: 35px;
          width: 95.5%;
          padding-left: 15px;
          background-image: url(../images/SEARCH.png);
          background-size: 5%;
          background-repeat: no-repeat;
          background-position: 95% 10px; }
      .modalWindow__container .left__users {
        padding: 15px;
        height: 300px;
        overflow: auto; }
        .modalWindow__container .left__users .list--friends {
          display: none; }
        .modalWindow__container .left__users .item:hover {
          background-image: url(../images/arrow.png);
          background-repeat: no-repeat;
          background-position: 95%;
          cursor: pointer; }
        .modalWindow__container .left__users .item:active {
          opacity: 0.5; }
    .modalWindow__container .right {
      overflow: auto;
      width: 50%;
      border: 1px solid #d5d5d5;
      border-left: none;
      height: 365px;
      float: right; }
      .modalWindow__container .right__list {
        padding: 15px; }
    .modalWindow__container .item {
      list-style: none;
      clear: both;
      height: 50px;
      margin-bottom: 5px;
      position: relative; }
      .modalWindow__container .item:hover {
        background-image: url(../images/delete.png);
        background-repeat: no-repeat;
        background-position: 95%;
        cursor: pointer; }
      .modalWindow__container .item__photo {
        float: left;
        margin-right: 10px; }
      .modalWindow__container .item__name {
        color: #7f92b7;
        font-family: Arial;
        font-weight: 600;
        font-size: 14px; }
      .modalWindow__container .item__stream {
        float: left;
        font-family: Arial;
        font-size: 12px; }
      .modalWindow__container .item__streamNumber {
        font-family: Arial;
        font-size: 12px;
        float: left;
        margin-right: 5px; }
      .modalWindow__container .item__help {
        position: absolute;
        padding: 5px 20px;
        background: rgba(0, 0, 0, 0.9);
        height: 40px;
        border-radius: 5px;
        color: white;
        top: -40px;
        left: 79px;
        opacity: 0; }
        .modalWindow__container .item__help .kut {
          display: block;
          margin-top: 30px; }
      .modalWindow__container .item:nth-child(1) > .stream > .help {
        top: 40px;
        z-index: 1; }
      .modalWindow__container .item:nth-child(1) > .stream > .help > .kut {
        margin-top: -27px;
        transform: rotate(180deg); }
    .modalWindow__container .container__mform {
      clear: both;
      height: 60px;
      padding-top: 10px; }
      .modalWindow__container .container__mform .button--add {
        float: right; }
