<!DOCTYPE html>
<html lang="en" ng-app="helloWorldApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/angular.min.js"></script>
	<script>
		var model = 'Hello World';
		var helloWorldApp = angular.module('helloWorldApp', []);
		helloWorldApp.controller('helloWorldCtrl', function	($scope){
			$scope.message = model;

			$scope.clickHandler = function () {
				$scope.message = $scope.text;
			}
		})
	</script>
</head>
<body ng-controller="helloWorldCtrl">
	<h1>{{message}}</h1>

	<input ng-model="text">
	<button ng-click="clickHandler()">Reset</button>
</body>
</html>