*{
	margin: 0;
	padding: 0;
	list-style: none;
}
@font-face{
	font-family: LeagueGothic-Regular;
	src: url(../fonts/league-gothic/LeagueGothic-Regular.otf);
}
@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/open-sans/OpenSans-Regular.ttf);regular.eot
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}

