@font-face{
	font-family: Amble-Bold;
	src: url(../fonts/Amble-Bold.ttf);
}
@font-face{
	font-family: Amble-Regular;
	src: url(../fonts/Amble-Regular.ttf);
}
@font-face{
	font-family: Amble-LightItalic;
	src: url(../fonts/Amble-LightItalic.ttf);
}
@font-face{
	font-family: Amble-Light;
	src: url(../fonts/Amble-Light.ttf);
}
@font-face{
	font-family:Amble-Italic;
	src: url(../fonts/Amble-Italic.ttf);
}
@font-face{
	font-family:Amble-BoldItalic;
	src: url(../fonts/Amble-BoldItalic.ttf);
}
html{
	min-height: 100%;
}
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: Amble-Regular;
}
h1,h4,h5{
	font-family: Amble-Bold;
}
body{
	min-height: 100%;
	background: linear-gradient(to top, white, #D1EEEE);
}
/*1200px*/
	@media (min-width: 1200px){	
	/*head*/
		.container{
			width: 1200px;
		 	margin: 0 auto; 
		 	overflow: hidden;
		}
		.inset{
			height: 100px;
		}
		.inset__information{
			float: left;	
		}
		.inset__works{
			float: right;
		}
		.inset__information,.inset__works{
			transition: 1s;
			color: #4F4F4F;
		}
		.inset__information:hover, .inset__works:hover{
			background:	#B4CDCD;
			color: 	#AB82FF;
			border-bottom: 1px solid #AB82FF;
		}
		
		
		.inset__information, .inset__works{
			width: 50%;
			height: 100px;
			text-align: center;
			border-bottom: 1px solid #4F4F4F;
		}
		.inset__informationText, .inset___worksText{
			margin-top: 30px;
			font-size: 36px;
			font-family: Amble-Bold;
			cursor: pointer;

		}
	/*body information*/
		.information{
		}
		.information__title{
			margin-top: 30px;
			text-align: center;
			font-size: 32px;
			width: 1200px;

			
		}
		/*contact*/
			.contact{
				width: 1200px;
				height: 400px;
				background: white;
				box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
			}
			.contact__photo{
				float: right;
				box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
				width: 250px;
				height: 400px;
				margin-right: 10px;
				background-image: url(../img/i2.png);
				background-repeat: no-repeat;
				display: inline-block;
				transition: 1s;
				cursor: pointer;
			}
			.contact__photo:hover{
				box-shadow: 5px 5px 10px 0px rgba(72,61,139,0.75);
				//border-radius: 30px 0 0 0;
 				transform: rotate(-3deg);
			}
			.contact__list{
				color: #4F4F4F;	
			}
			.contac__item{
				width: 70%;
				font-size: 20px;
				padding: 10px 30px;
			}
			.end_link{
				position: relative;
				display: inline-block;
				margin-left: 10px;
			}
			.logo{
				position: absolute;
				width: 80px;
				height: 80px;
				//background-color: white;
				z-index: 1;
				background-image: url(../img/logos.png);
				background-repeat: no-repeat;
				opacity: 0;
			}
			.contac__item:nth-child(1){
				padding-top: 50px;
				margin-top: 20px;
			}
			.contact__name{
				width: 30%;
				display: inline-block;
			}

			.contact__contant{
				display: inline-block;
				
			}

			.contact__contant a{
				text-decoration: none;
				color: 	#AB82FF;
				transition: 1s;
			}
			.contact__contant a:hover{
				color: 	#551A8B;
			}
		/*speciality*/
			.specialty{
				clear: both;
				margin-top: 50px;
				font-size: 28px;
				color: #4F4F4F;
			}	
		/*education*/	
			.education{
				//background: white;
			}
			.education__title{
				font-size: 24px;
				color: #4F4F4F;
				margin-top: 25px;
				border-bottom: 1px solid #CFCFCF;
			}
			.education__item{
				margin-top: 20px;
				color: #4F4F4F;
			}
			.education__years{
				width: 24%;

				display: inline-block;
			}
			.education__university {
				display: inline-block;
				font-size: 22px;
			}
			.education__specialty, .education__link{
				display: block;
			}
			.education__specialty{
				margin-bottom: 20px;
			}
			.education__link{
				text-decoration: none;
				color: 	#AB82FF;
				transition: 1s;
				display: inline-block;
			}
			.education__link:hover{
				color: 	#551A8B;
			}
		/*courses*/	
			.courses{
			}
		/*knowledge*/
			.knowledge{
				//background: #D2B48C;
			}
			.web__title{
				font-size: 24px;
				color: #4F4F4F;
				border-bottom: 1px solid #CFCFCF;
			}
			.web{
				margin-top: 20px;
			}
			.system{
				margin-top: 40px;
				margin-bottom: 40px;
			}
			.web__item:nth-child(1){
				margin-top: 20px;
			}
			.web__name{
				width: 24%;
				display: inline-block;
				color: #4F4F4F;
				font-size: 20px;

			}
			.web__contant{
				display: inline-block;
				color: #4F4F4F;
				font-size: 20px;
			}	
}