*{
	margin: 0px;
	padding: 0px;
}
.container{
 	max-width:1200px;
 	margin: 0 auto; 
}
.inset{
	
}
.inset__information{
	float: left;
	background: grey;
}
.inset__works{
	float: right;
	background: green;
}

.inset__information, .inset__works{
	width: 50%;
	height: 100px;
	text-align: center;
}