.carousel{
    width: 1000px;
    margin: 0 auto;
}
.carousel__hider {
    width: 600px;
    overflow: hidden;
    float: left;
}
.carousel__list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}
 
.carousel__item {
    display: block;
    margin-right: 25px;
    float: left;
}
.carousel__item img{
    border-radius: 5px;
}
.carousel__item img {
    max-width: 100px;
}
  
.carousel-arrow-left {
    margin-right: 25px;
}
 
.carousel-arrow-right {
    margin-left: 25px;
}
.button{
    float: left;
    display: block;
    border: 1px solid gray;
    background-color: #191970;
    padding: 5px;
    margin-top: 25px;
    transition: 1s;
    opacity: 0.7;
    text-align: center;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 5px 1px #87CEFA;
    text-shadow: 1px 1px 2px black;
    width: 30px;
}
.button:hover{
    border: 1px solid #6A5ACD;
    cursor: pointer;
    background-color:#7B68EE;
    opacity: 1;
    box-shadow: 0px 0px 5px 1px #4682B4;
}
.button:active{
    color: gray;
}
.carousel-arrow-right{
    border-radius: 10px 20px 20px 10px; 
}
.carousel-arrow-right:hover { 
    border-radius: 10px 30px 30px 10px; 
    -webkit-transform:translateX(10px);
}
.carousel-arrow-left{
    border-radius: 20px 10px 10px 20px; 
}
.carousel-arrow-left:hover{
     border-radius: 30px 10px 10px 30px; 
    -webkit-transform:translateX(-10px);
}



