@font-face {
  font-family: open-sasns;
  src: url(../fonts/open-sasns-bold.ttf); }

@font-face {
  font-family: open-sasns-regular;
  src: url(../fonts/open-sans-regular.ttf); }

@font-face {
  font-family: brin-gin;
  src: url(../fonts/BrinGin.ttf); }

body {
  font-family: open-sasns; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.container {
  min-height: calc(100vh - 1365px); }

/*header*/
.top {
  height: 698px;
  background-image: url(../img/man.jpg);
  background-position: -117px -3px;
  background-repeat: no-repeat;
  background-size: 110%;
  background-attachment: fixed; }
  .top__content {
    margin: 0 auto; }

.content {
  width: 1155px;
  padding: 0 0 0 15px; }

/*panel*/
.logo {
  width: 115px; }

.bg {
  background: rgba(255, 255, 255, 0.3);
  height: 88px; }

.panel__logo {
  float: left;
  margin: 30px 0 0 28px; }

.panel__nav {
  display: inline-block;
  margin-left: 30px; }

.panel__button {
  float: right;
  margin: 23px 8px 0 0; }

.item {
  float: left; }

.link {
  color: black;
  opacity: 0.4;
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: 1s; }

.link:hover {
  border-bottom: 2px solid #36aeea; }

.nav__item {
  margin: 30px 0 0 21px; }

.nav__item:nth-child(1) {
  margin: 30px 0 0 31px; }

.nav__item:nth-child(2) {
  margin: 30px 0 0 20px; }

.button {
  border: 3px solid #36aeea;
  border-radius: 3px;
  padding: 11px 43px;
  color: #36aeea;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 1s; }

.button:hover {
  border: 3px solid gray;
  color: gray; }

/*box*/
.box {
  margin: 163px 5px 0 14px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  height: 321px; }
  .box__left {
    padding: 38px 34px;
    width: 650px;
    border-top: 3px solid white; }
  .box__right {
    width: 200px;
    height: 320px;
    border-top: 3px solid white;
    border-right: 3px solid white; }

.right {
  float: right; }

.left {
  float: left; }
  .left__description {
    margin: 17px 0 0 4px; }
  .left__button {
    display: block;
    width: 255px;
    border-radius: 4px;
    background-color: #36aeea;
    text-align: center;
    padding: 7px 0;
    margin: 24px 0 0 3px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 2px;
    transition: 1s; }

.left__button:hover {
  background-color: gray; }

.title__text {
  display: block; }

.title__text--first {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  letter-spacing: 6px; }

.title__text--second {
  color: #56c7ff;
  font-family: brin-gin;
  font-size: 66px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.5px; }

.description {
  width: 434px;
  color: white;
  font-size: 18px;
  line-height: 29px;
  font-family: open-sasns-regular; }

.footer {
  height: 1365px; }
