@import "variables";
@import "mixins";
@import "_media-queries";



body{
  background: $bgColor;
}
*{
  margin:0;
  padding:0;
}


@include min-screen(768px) {
/*header*/
  .photo{
    width: 35%;
    float: left;
    .img--header{
      width: 300px;
      margin-bottom: 50px;
      margin-top: 80px;
    }
  }
  .contant{
    margin-top: 30px;
    padding:0 20px 0 50px;
  }
  .title{
    margin-top: 20px;
    text-transform: uppercase;
    font-family: MuseoSansCyrlLight;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    margin-left: 100px;
    &__qa{
      margin-left: 60px;
    }
    &__name{
      display: block;
      font-size: 43px;
    }  
  }
  .contant__answer{
    float: right;
    width: 65%;
  }
  .answer--top{
    margin-top: 80px;
  }
  .answer--botom{
    margin-top: 20px;
  }
  .head{
    font-family: MuseoSansCyrlRegular;
  }
  .text{
    margin-top: 5px;
    font-family: MuseoSansCyrlLight;
  }
  .head, .text{
    color: #262626;
    font-size: 12px;
  }
  .text__upper{
     text-transform: uppercase;
  } 
/*main*/
  .main{
    clear: both;
    background: #ffffff;
    padding-top: 25px;
  }
  .img--turtleneck{
      width: 230px;
  }
  .list--top{
    position: relative;
    list-style: none;
    height: 500px;
  }
  .item{
    display: inline-block;
    &__trousers{
      position: absolute;
      width: 150px;
      left: 35%;
    }
  }
  .item--question{
    width: 43%;
    height: 80px;
    float: right;
    margin: 30px 0 0 0;
  }
  .item--phrase{
    width: 43%;
    height: 100px;
    float: right;
  }
  .item--qote{
    width: 43%;
    height: 100px;
    float: right;
  }
  .qote{
    text-align: center;
    font-size: 16px;
    font-family: MuseoSansCyrlRegular;
  }
  .item--balance{
    width: 55%;
    float: right;
    margin-right: 30px;
  }
  .img--dress{
    margin-top: 40px;
    width: 300px;
    margin-left: 30px;
  }
  .list--bottom{
    list-style: none;
    height: 500px;
  }
  .item--threWords{
    margin-top: 100px;
    float: right;
    width: 50%;
    height: 50px;
  }
  .item--general{
    margin-top: 20px;
    float: right;
    width: 50%;
    height: 150px;
  }
  .pluso{
    float: right;
    width: 50%; 
    margin: 30px 0 0 0;
  }
/*slider*/
  .slider{
    background: white;
    padding-bottom: 30px;
    &__titleText{
      padding: 20px;
    }
  }
  .titleText{
    font-family: PlayfairDisplayItalic;
    font-weight: 300;
  }
  .couruselItem{
    &__head{
      text-align: center;
      text-transform: uppercase;
    }
    &__text{
      text-align: center;
      margin: 0px;
    }
  }
/*footer*/
  .footer{
    padding: 30px 0;
    background: white;
    height: 350px;
    border-top: 1px solid #e5e5e5;
  }
  .ask{
    float: left;
    padding: 25px 50px;
    width: 37%;
    border-right: 1px solid #e5e5e5;
    &__head{
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
    }
    &__text{
      margin: 0px;
      text-align: center;
    }
  }
  .gucci{
    float: right;
    margin-right: 3%;
    &__box{
      float: left;
    }
    &__img{
      width: 100px;
    }
  }
  .box{
    width: 145px;
    text-align: center;
    margin: 0 50px;
    &__head{
      font-family: PlayfairDisplayItalic;
      font-size: 26px;
      font-weight: 300;
    }
  } 
  .delivery{
    clear: both;
    width: 40%;
    margin: 0 auto;
    padding-top: 30px;
    &__head{
      text-align: center;
    }
    &__text{
      text-align: center;
      margin: 0;
    }
  }
  .edit{
    height: 57px;
    margin-left: 10px;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
    text-align: center;
    width: 60%;
  }
  .button{
    width: 35%;
    height: 60px;
    margin-left: -5px;
    background-color:#e8dadc;
    border: 1px solid #e8dadc;
    border: none;
    text-transform: uppercase;
    font-family: MuseoSansCyrlRegular;
    font-weight: 900;
    line-height: 0px;
  } 
  .panel{
    &__text{
      font-size: 11px;
      float: left;
      margin: 30px 0 0 20px;
    }
    &__list{
      float: right;
    }
  }
  .item--panellist{
    margin: 30px 50px 30px 0;
  }
  .link{
    text-decoration: none;
  }
}
@include min-screen(968px) { 
/*header*/
  .contant__answer{
    width: 55%;
    margin-right: 10%;
  }
  .title{
    margin-left: 25%;
  }
/*main*/
  .trousers{
    left: 30.7%;
  }
  .list--top{
    margin-right: 10%;
  }
  .item--question, .item--phrase, .item--qote{
    width: 47%;
  }
  .item--question{
    height: 60px;
  }
  .item--qote{
    height: 100px;
  }
  .photo{
    width: 230px;
  }
  .item--balance{
    width: 61%;
  }
  .list--bottom{
    margin-right: 10%;
  }
/*footer*/
  .ask{
    width: 20%;
    height: 130px;
  }
  .gucci{
    float: left;
    margin-right: 0px;
    padding-right: 4%;
    border-right: 1px solid #e5e5e5;
    height: 180px;
  }
  .box{
    width: 120px;
  }
  .delivery{
    padding-top: 20px;
    clear: none;
    float: right;
    width: 30%;
  }
  .panel__text{
    clear: both;
  }
  .item--panellist:nth-child(5){
    margin: 30px 20px 30px 0;
  }
  .footer{
    height: 225px;
  }
}
@include min-screen(1256px) { 
/*header*/
  .photo{
    width: 35%;
    .img--header{
      width: 400px;
    }
  }
  .title{
    margin-left: 20%;
  }
  .contant__answer{
    width: 45%;
    margin-right: 20%;
  }
  .head, .text{
    font-size: 14px;
  }
/*main*/
  .img--turtleneck{
    width: 300px;
  }
  .trousers{
    width: 200px;
    left: 30.7%;
  }
  .item--phrase{
    height: 150px;
  }
  .photo{
    width: 25%;
  }
  .item--qote{
    height: 120px;
  }
  .item--balance{
    width: 61%;
  }
  .img--dress{
    margin-top: 60px;
    width: 400px;
  }
  .list--bottom{
    height: 700px;
  }
  .item--threWords{
    margin-top: 130px; 
  }
  .pluso, .item--general, .item--threWords{
    width: 55%;
  }
/*slider*/
 .slider__box{
  width: 80%;
  padding: 0 10%;
 }
/*footer*/
  .box{
    width: 180px;
  }
  .delivery{
    margin-right: 3%;
  }
  .item--panellist:nth-child(5){
    margin: 30px 50px 30px 0;
  }
  .box__head{
    font-size: 33px;
  }
}
@include min-screen(1600px){
/*header*/ 
  .photo{
    .img--header{
      width: 500px;
    }
  }
  .title{
    margin-left: 25%;
  }
  .contant__answer{
    width: 35%;
    margin-right: 25%;
  }
  .answer--top{
    margin-top: 150px;
  }
/*main*/  
  .img--turtleneck{
    width: 400px;
  }
   .trousers{
    top: 50px;
    width: 250px;
  }
  .item--question{
    margin: 100px 12% 0 0;
    width: 35%;
  }
  .item--phrase{
    margin: 0px 12% 0 0;
    width: 35%;
  }
  .item--qote{
    margin: 0px 17% 0 0;
    width: 30%;
    height: 170px;
  }
  .item--balance{
    width: 45%;
    margin-right: 20%;
  }
  .img--dress{
    margin-top: 100px;
    width: 500px;
  }
  .list--bottom{
    height: 950px;
  }
  .item--threWords{
    margin-top: 180px; 
  }
  .item--general, .pluso{
    margin-top: 50px;
  }
  .pluso, .item--general, .item--threWords{
    width: 45%;
    margin-right: 10%;
  }
/*slider*/
  .slider__box{
    width: 60%;
    padding: 0 20%;
  } 
  .titleText{
    font-size: 33px;
  } 
/*footer*/
  .ask{
    width: 25%;
  }
  .box{
    width: 250px;
  }
  .delivery{
    width: 20%;
    margin-right: 10%;
  }
  .item--panellist:nth-child(5){
    margin: 30px 150px 30px 0;
  }
}
