@import "variables";
@import "mixins";
@import "_media-queries";



body{
  background: $bgColor;
}
*{
  margin:0;
  padding:0;
}


@include min-screen(768px) {
/*header*/
  .photo{
    width: 35%;
    float: left;
    .img--header{
      width: 300px;
      margin-bottom: 50px;
      margin-top: 100px;
    }
  }
  .contant{
    margin-top: 30px;
    padding:0 20px 0 50px;
  }
  .title{
    text-transform: uppercase;
    font-family: MuseoSansCyrlLight;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    margin-left: 100px;
    &__qa{
      margin-left: 60px;
    }
    &__name{
      display: block;
      font-size: 43px;
    }  
  }
  .contant__answer{
    float: right;
    width: 65%;

  }
  .answer--top{
    margin-top: 80px;
  }
  .answer--botom{
    margin-top: 20px;
  }
  .head{
    font-family: MuseoSansCyrlRegular;
  }
  .text{
    margin-top: 10px;
    font-family: MuseoSansCyrlLight;
  }
  .head, .text{
    color: #262626;
    font-size: 12px;
  }
  .text__upper{
     text-transform: uppercase;
  } 
/*main*/
  .main{
    clear: both;
    background: #ffffff;
    padding-top: 25px;
  }
  .img--turtleneck{
      width: 230px;
  }
  .list--top{
    position: relative;
    list-style: none;
    height: 500px;
  }
  .item{
    display: inline-block;
    &__trousers{
      position: absolute;
      width: 150px;
    }
  }
  .item--question{
    width: 43%;
    height: 80px;
    float: right;
    margin: 30px 0 0 0;
  }
  .item--phrase{
    width: 43%;
    height: 100px;
    float: right;
  }
  .item--qote{
    width: 43%;
    height: 100px;
    float: right;
  }
  .qote{
    text-align: center;
    font-size: 16px;
    font-family: MuseoSansCyrlRegular;
  }
  .item--balance{
    width: 60%;
    float: right;
    margin-right: 30px;
  }
  .img--dress{
    margin-top: 40px;
    width: 300px;
    margin-left: 30px;
  }
  .list--bottom{
    list-style: none;
    height: 500px;
  }
  .item--threWords{
    margin-top: 100px;
    float: right;
    width: 50%;
    height: 50px;
  }
  .item--general{
    margin-top: 20px;
    float: right;
    width: 50%;
    height: 150px;
  }
  .pluso{
    float: right;
    width: 50%; 
    margin: 30px 0 0 0;
  }
/*slider*/
  .slider{
    background: white;
    padding-bottom: 30px;
    &__titleText{
      padding: 20px;
    }
  }
  .titleText{
    font-family: PlayfairDisplayItalic;
    font-weight: 300;
  }
  .couruselItem{
    &__head{
      text-align: center;
      text-transform: uppercase;
    }
    &__text{
      text-align: center;
      margin: 0px;
    }
  }
/*footer*/
  .footer{
    padding: 30px 0;
  }
  .ask{
    float: left;
    padding: 25px 50px;
    width: 31%;
    border-right: 1px solid #e5e5e5;
    &__head{
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
    }
    &__text{
      margin: 0px;
      text-align: center;
    }
  }
  .gucci{
    float: right;
    margin-right: 3%;
    &__box{
      float: left;
    }
    &__img{
      width: 100px;
    }
  }
  .box{
    width: 180px;
    text-align: center;
    margin: 0 50px;
    &__head{
      font-family: PlayfairDisplayItalic;
      font-size: 26px;
      font-weight: 300;
    }
  } 
  .delivery{
    clear: both;
    width: 40%;
    margin: 0 auto;
    padding-top: 30px;
    &__head{
      text-align: center;
    }
    &__text{
      text-align: center;
      margin: 0;
    }
  }
  .edit{
    height: 57px;
    margin-left: 10px;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
    text-align: center;
    width: 60%;
  }
  .button{
    width: 35%;
    height: 60px;
    margin-left: -5px;
    background-color:#e8dadc;
    border: 1px solid #e8dadc;
    border: none;
    text-transform: uppercase;
    font-family: MuseoSansCyrlRegular;
    font-weight: 900;
    line-height: 0px;
  } 
  .panel{
    &__text{
      font-size: 11px;
      float: left;
      margin: 30px 0 0 20px;
    }
    &__list{
      float: right;
    }
  }
  .item--panellist{
    margin: 30px 50px 30px 0;
  }
  .link{
    text-decoration: none;
  }
}



/*
@include min-screen(1024px) { 
  .container{
    width: 100px;
    height: 100px;
    background-color: green;
  }
}*/