@font-face{
  font-family: MuseoSansCyrl;
  src: url(../fonts/museosanscyrl.ttf);
}
  
@font-face{
  font-family: PlayfairDisplayItalic;
  src: url(../fonts/PlayfairDisplayItalic.ttf);
}
  

$break-small: 768px;