@font-face{
  font-family: MuseoSansCyrlLight;
  src: url(../fonts/msc/MuseoSansCyrl.otf);
}
@font-face{
  font-family: MuseoSansCyrlRegular;
  src: url(../fonts/msc/MuseoSansCyrl_0.otf);
}
@font-face{
  font-family: PlayfairDisplayItalic;
  src: url(../fonts/PlayfairDisplayItalic.ttf);
}
  

$bgColor: #f6f6f6;