.item{
	width: 250px;
}
.item__list{
	list-style: none;
	border: 1px solid #BEBEBE;
	padding: 2px 5px 5px;
	margin: 1px 0;
	transition: 1s;
	font-family: Verdana;
	font-weight: 600;
	font-size: 14px;
	color: #696969;
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
}

.item__img{
	width: 15px;
	height: 15px;
	margin-left: 30px;
	float: right;
	border: 1px solid white;
	padding: 2px;
	transition: 1s;
	border-radius: 30px;
}
.item__img:hover{
	cursor: pointer;
	border: 1px solid gray;
	background: #BEBEBE;
}
.controlls{
	position: relative;
	margin-left: 40px;
}
.item__value{
	width: 200px;
	height: 20px;
	font-size: 16px;
}
.item__add{
	width: 42px;
	height: 26px;
	background: gray;
	border: none;
	cursor: pointer;
	font-weight: 900;
	background: #BEBEBE;
	color: #696969;
}

.hint{
	margin-top: 20px;
	color: red;
	position: absolute;
	opacity: 0;
	font-family: Verdana;
}