/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-air {
  background-image: url(sprite.png);
  background-position: -37px -76px;
  width: 17px;
  height: 16px;
}
.icon-arrow {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 56px;
}
.icon-arrow2 {
  background-image: url(sprite.png);
  background-position: -50px 0px;
  width: 30px;
  height: 56px;
}
.icon-botl {
  background-image: url(sprite.png);
  background-position: -145px -37px;
  width: 13px;
  height: 16px;
}
.icon-coffe {
  background-image: url(sprite.png);
  background-position: -145px 0px;
  width: 16px;
  height: 17px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: -100px 0px;
  width: 25px;
  height: 25px;
}
.icon-tv {
  background-image: url(sprite.png);
  background-position: 0px -76px;
  width: 17px;
  height: 17px;
}
