*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
}

body{
  background: #F8F8FF;
}
.form{
  position: absolute;
  top: 50%;
  left: 50%;
}
.button{
    padding: 8px 25px;
    background-color:#9bb0d5;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    border-bottom: 2px solid #758ab2; 
  }
.button--invisibility{
  background: none;
  border: none;
  color: gray;
  margin-right: 10px;
  &:hover{
    background: #eeeff5;
    border-bottom: 2px solid #e3e4e8;
  }
  &:active{
    background-color:#9bb0d5;
    border-bottom: 2px solid #758ab2; 
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color:#bcbcbc;
}
//modal
.modalWindow{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.7);
  z-index: 1;
  &__header{
    margin: 65px auto 0;
    width: 710px;
    padding: 20px 0;
    text-align: center;
    color: #7f92b7;
    background-color: #eeeff5;
    font-family: Arial;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 5px solid #e3e4e8;
    border-radius: 3px 3px 0 0 
  }
  &__container{
    margin: 0 auto;
    width: 660px;
    background: white;
    padding: 25px 25px 0 25px;
    .left{
      width: 49.5%;
      border: 1px solid #d5d5d5;
      height: 365px;
      float: left;
      &__searche{
        border-bottom: 1px solid #d5d5d5;
        height: 35px;
        .text{
          border: none;
          height: 35px;
          width: 95.5%;
          padding-left: 15px;
          background-image: url(../images/SEARCH.png);
          background-size: 5%;
          background-repeat: no-repeat;
          background-position: 95% 10px;
        }
      }
      &__users{
        padding: 15px;
        height: 300px;
        overflow: auto;
        .list--friends{
          display: none; 
          }
        .item{
          &:hover{
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            background-position: 95%;
            cursor: pointer;
          }
          &:active{
            opacity: 0.5;
          }
        }
      }
    }
    .right{
      overflow: auto;
      width: 50%;
      border: 1px solid #d5d5d5;
      border-left: none;
      height: 365px;
      float: right;
      &__list{
        padding: 15px;
      }
    }
    .item{
      list-style: none;
      clear: both;
      height: 50px;
      margin-bottom: 5px;
      position: relative;
      &:hover{
        background-image: url(../images/delete.png);
        background-repeat: no-repeat;
        background-position: 95%;
        cursor: pointer;
      }
      &__photo{
        float: left;
        margin-right: 10px;
      }
      &__name{
        color: #7f92b7;
        font-family: Arial;
        font-weight: 600;
        font-size: 14px;
      }
      &__stream{
        float: left;
        font-family: Arial;
        font-size: 12px;
      }
      &__streamNumber{
        font-family: Arial;
        font-size: 12px;
        float: left;
        margin-right: 5px;
      }
      &__help{
        position: absolute;
        padding: 5px 20px;
        background: rgba(0,0,0,0.9);
        height: 40px;
        border-radius: 5px;
        color: white;
        top: -40px;
        left: 79px;
        opacity: 0;
        .kut{
          display: block;
          margin-top: 30px;
        }
        
      }
      &:nth-child(1)>.stream>.help{
        top: 40px;
        z-index: 1;
      }
      &:nth-child(1)>.stream>.help>.kut{
        margin-top: -27px;
        transform: rotate(180deg);
      }
    }
    .container__mform{
      clear: both;
      height: 60px;
      padding-top: 10px;
      .button--add{
        float: right;
      }
    } 
  }
  
}  

