<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="js/lodash.js"></script>
	<script src="js/newScript.js"></script>
</head>
<body>
<!--template-->
	<script type = "text/template" id = "test">
		<form action="">
			<h1 class = "title"><%= textTitle%></h1>
			<ol class = "listQuestions">
				<% var count = 0%>
				<%for(var index in questions){%>
					<li class = "quest" ><h4><%= questions[index].title%></h4>
						<ul class = "sublist">
							<%if(questions[index].oneAnswer){%>
								<%questions[index].answers.forEach(function(item, i){%>
									<% if(i === questions[index].check){%>
										<li>
											<label><input type="radio" name ="<%= 'name'+nameForRadBox %>" class = "right" ><%= item%></label>
										</li>
									<% }else{ %>
										<li>
											<label><input type="radio" name ="<%= 'name'+nameForRadBox %>" class = "wrong" ><%= item%></label>
										</li>
									<% } %>
									<% count++;if(count === 3){count = 0;nameForRadBox++;}%>
								<% }) %>
							<%}else{%>
								<span class = "twoAnswarText"><%= "select two answers"%></span>
								<%questions[index].answers.forEach(function(item, i){%>
									<% if(i === questions[index].check || i === questions[index].check_two){%>
										<li>
											<label><input type="checkbox" class = "<%= 'right' + nameForChBox%>"><%= item%></label>
										</li>
									<%}else{%>
										<li>
											<label><input type="checkbox" class = "wrong"><%= item%></label>
										</li>
									<% } %>
									<% count++;if(count === 3){count = 0;nameForChBox++;}%>							
								<% }) %>	
							<%}%>	
						</ul>
					</li>
				<%}%>
			</ol>
			<div class = "buttons">
				<button type = "button" id = "buttonOn"><%=buttonOn%></button>
				<button type = "button" id = "buttonOff" disabled = "disabled"><%=buttonOff%></button>
			</div>
		</form>
	</script>
</body>
</html>