@import variables
@import mixins

*
  margin: 0
  padding: 0

@media screen and (min-width: $mobyle_320px) 
  .container
    min-height: calc(100vh - 190px)
  .montserrat-regular
    font-family: Montserrat-Regular
    color: white
    text-align: center
  .roboto-light
    font-family: Roboto-Light
    color: white
    text-align: center           
  //header
  .header
    height: 540px
    background-image: url(../img/vso.jpg)
    background-position: -422px -10px
    background-repeat: no-repeat
    &__log
      padding: 22px 0 0 38px
      margin: 0 auto
    &__link
      display: block
      text-decoration: none
      margin: 13px auto
      font-size: 13px
    &__name
      margin-top: 115px
      font-size: 20px
      text-transform: uppercase
  .log
    width: 200px
    &__label
      font-size: 14px
      font-weight: 700
      line-height: 0px
      margin-left: 12px
    &__input
      width: 75px
      text-align: center
      background: none
      border: 2px solid white
      border-radius: 25px
      padding: 6px
      font-weight: 700
      font-size: 14px
      margin-left: 15px
    &__input::-webkit-input-placeholder
      color: white
    &__input::-moz-placeholder
      color: white
    &__input:-moz-placeholder
      color: white
    &__input:-ms-input-placeholder      
      color: white
    &__input:focus
      outline: none
  .title
    font-weight: 700
    &__holliday
      font-size: 30px
      text-transform: uppercase
      margin-top: 27px
      padding-left: 15px
    &__parther
      padding: 0 35px
      font-size: 18px
      font-weight: 300
      margin-top: 7px
  .find
    width: 280px
  .button
    width: 280px
    border: none
    border-radius: 25px
    background-color: #ff4e50
    cursor: pointer
  .button:focus
    outline: none
  .button--big
    padding: 12px 0
  //main
  .main
    width: 95%
    margin: 0 auto
  //work
  .work
    &__title
      color: #333333
      font-size: 21px
      margin-top: 35px
    &__list
      width: 295px
      margin: 16px auto
      .item 
        margin-bottom: 10px
  .owl-controls
    display: none
  .step
    width: 295px
    height: 240px
    border-radius: 5px
    z-index: 0
    position: relative
    overflow: hidden
    &__buground
      z-index: 1
    &__content
      position: absolute
  .content
    top: 68px
    padding: 0 0 0 20px
    &__form
      margin-left: 3px
    &__title
      margin: 15px 0 0 
      font-size: 24px
      text-align: left
    &__text
      margin: 10px 0 0
      font-size: 14px
      text-align: left
      opacity: 0.5
      line-height: 17px
  .content--nonstandard
     top: 98px
  .buground--first
    width: 140% !important
    margin: -27px 0 0 -65px
  .buground--second
    width: 140% !important
    margin: -22px 0 0 -35px
  .buground--third
    width: 150% !important
    margin: -32px 0 0 -71px
  .button--small
    width: 70px
    height: 20px
    text-transform: uppercase
    font-size: 10px
    font-weight: 400
    border-radius: 20px
    letter-spacing: 2px
  //parthers
  .parthers
    &__title
      color: #333333
      font-size: 22px
      margin: 35px 0 0 5px
    &__list
      margin-top: 13px
      list-style: none
      .item
      .item:nth-child(1)
        padding: 0 0 28px
      .item:nth-child(2)
        padding: 0 0 25px
      .item:nth-child(3)
        padding: 0 0 28px 
    &__other
      width: 280px
      padding: 0 0 0 8px
      margin: 28px auto 0   
  .figure
    position: relative
    width: 200px
    margin: 0 auto
  .surcle
    border-radius: 50%
    overflow: hidden
    display: inline-block
  .surcle--big
    margin-left: 23%
    width: 120px
    height: 120px
  .surcle--small
    position: absolute
    left: 130px
    top: 85px
    width: 30px
    height: 30px
    border: 4px solid white
    background-color:#ff4e50
  .img--logo
    margin: 6px 6px 
  .info
    margin: 13px 0 0 12px
    &__name
      color: #333333
      font-size: 14px
    &__hobby
      margin-top: 10px
      color: #666
      font-size: 13px
  .button--empty
    height: 38px
    background: none
    border: 2px solid #ff4e50
    color: #ff4e50
    cursor: pointer
  //ideas
  .ideas
    width: 295px
    margin: 0 auto
    &__title
      color: #333333
      font-size: 22px
      margin: 35px 0 12px 7px
  .paint
    width: 295px
    height: 120px
    z-index: 0
    overflow: hidden 
    position: relative
    border-radius: 5px
    margin-bottom: 10px
    .item--text
      top: 40%
      left: 35%
      position: absolute
      z-index: 1
      font-size: 22px
    .item--picture
      width: 100%
  //search
  .search
    width: 295px
    margin: 0 auto
    &__title
      color: #333333
      font-size: 22px
      margin: 36px 0 0 6px
  .form
    &__question
      margin: 10px 0 0 5px
    &__edit
      margin: 16px 0 0 8px
    &__imput
      margin: 10px 0 40px 10px
  .question
    font-weight: 300
    color: #666
    font-size: 18px
    line-height: 20px
  .edit
    display: block
    width: 265px
    height: 40px
    border: 1px solid #cccccc
    border-radius: 5px
    text-align: left
    padding-left: 15px
    color: #333 
  //footer
  .footer
    border-top: 4px solid #ff4e50
    height: 186px
    &__title
      margin: 15px  0 0 5px
      color: #ff4e50
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
    &__subtitle
      margin: 11px  0 0 11px
      color: #333
      font-size: 14px
      font-weight: 700
    &__list
      width: 210px
      margin: 0 auto
      padding: 0 0 0 23px
      height: 30px
      list-style: none
      .list__item:nth-child(4)
        margin: 0;
      .list__item
        margin: 0 15px 0 0
        float: left
        .item__link
          color: #666
          text-decoration: none
          font-size: 14px
          font-weight: 300
          line-height: 24px
        .item__link:hover
          text-decoration: underline
    .subtitle--parthers
      margin-top: 3px
    &__text
      text-transform: uppercase
      color: #ccc
      font-size: 10px
      font-weight: 700
      letter-spacing: 1px
      margin: 12px 0 0 10px
    .logo
      width: 100px
      height: 50px
      margin: 5px auto 0;
      &__img
        float: left
      &__container
        float: left
        width: 50px
        margin: 5px 0 0 10px
    .container__text
      color: #ff4e50
      text-transform: uppercase
    .text--big
      float: left
      font-size: 18px
      line-height: 10px
      letter-spacing: 2px
    .text--small
      float: left
      font-size: 8px
      margin-top: 3px
      letter-spacing: 2px

@media screen and (min-width: $mobyle_768px)
  //header
  .header
    height: 700px
    background-image: url(../img/vso2.jpg)
    background-position: -337px 0
    &__log
      float: right
      margin: 17px
    &__name
      float: left
      margin: 45px 0 0 50px
      letter-spacing: 1px
    &__link
      margin-top: 33px
      font-size: 14px 
  .header__title
    width: 510px
    margin: 0 auto
    padding: 97px 15px 0 0
    clear: both
    .title__holliday
      font-size: 52px
    .title__parther
      margin: 21px 0 0 13px
      font-size: 24px
  .button--big
    width: 225px
  //work
  .work
    &__title
      margin-top: 95px
      padding: 0 10px 0 0
    &__list
      width: 748px
      list-style: none
      .item
        width: 236px
        float: left
        margin: 20px 30px 0 -10px
      .item:nth-child(3)
        margin-right: 0px
  .step
    position: relative
    width: 236px
    height: 400px
    z-index: 0
  .buground--first
    width: 280% !important
    margin: -20px 0 0 -225px
  .buground--second
    width: 280% !important
    margin: -15px 0 0 -185px
  .buground--third
    width: 285%  !important
    margin: -30px 0 0 -215px
  .owl-controls
    background: red
    color: rgba(255,255,255,0)
    display: block
  .owl-prev
    width: 45px
    height: 55px
    background-image: url(../img/arrow.png)
    background-repeat: no-repeat 
    z-index: 1
    top: 37px
    left: 9%
    position: absolute
  .owl-next
    width: 45px
    height: 55px
    background-image: url(../img/arrow2.png)
    background-repeat: no-repeat 
    z-index: 1
    top: 37px
    left: 79%
    position: absolute



