.forAll{
	width: 555px;
	height: 130px;
	border: 1px solid #6c6c6c;
	font-family: verdana;
	font-size: 10px;
	padding:5px 0 0 10px;
}
.lb{
	width: 65px;
	display: inline-block;
}
.box{
	margin-bottom: 10px;
}
.inpt{
	margin-right: 10px;
	height: 20px;
}
.showH{
	opacity: 0.5;
	cursor: pointer;
}
.hint{
	width: 230px;
	display: inline-block;
	border: 1px solid #6c6c6c;
	padding: 5px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	border-radius: 3px;
	opacity: 0;

}